# Entorno virtual
Limpieza-Pluss/

# Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env

# VS Code
.vscode/

# Logs
*.log

# Alembic
alembic/versions/__pycache__/

# Sistema
.DS_Store

#NOTAS
.txt